@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    @*<input asp-for="Input.FirstName" class="form-control" />*@
                    <a href="#" class="editable-text-full" id="FirstName" data-title="Enter First Name">@Model.Input.FirstName</a>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    @*<input asp-for="Input.LastName" class="form-control" />*@
                    <a href="#" class="editable-text-full" id="LastName" data-title="Enter Last Name">@Model.Input.LastName</a>
                </div>
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

     @* x-editable (bootstrap version) *@
    <link href="~/lib/bootstrap4-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="~/lib/bootstrap4-editable/js/bootstrap-editable.min.js"></script>

    <script>
            $(document).ready(function () {
                //turn to inline mode
                $.fn.editable.defaults.mode = 'inline';
                $('.editable-text-full').editable({
                    ajaxOptions: {
                        type: 'post',
                        headers: { "RequestVerificationToken": '@GetAntiXsrfRequestToken()' }
                    },
                    type: 'text',
                    pk: 1,
                    url: 'Manage/Index?handler=UpdateValue',
                    success: function (response, newValue) {
                        if (response.success) {
                            return {newValue: response.value};
                        }
                        else {
                            return response.msg; //msg will be shown in editable form
                        }
                    },
                    error: function(response, newValue) {
                        if(response.status === 500) {
                            return 'Service unavailable. Please try later.';
                        } else {
                            return response.responseText;
                         }
                    }
                });
            });</script>

}